<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" class="fas fa-shipping-fast" routerLink="/"> KK Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/about">About</a>
        </li>

      </ul>
      <div class="cart-icone"routerLink="/cart">
       <button class="btn btn-primary"> <i class="fa" style="font-size:24px">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'>{{cartItemp}}</span></button>

    </div>

    &nbsp;&nbsp;&nbsp;
    &nbsp;
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search" aria-label="Search">

      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <section
  class="d-flex justify-content-between p-4"
  style="background-color: #6351ce"
  >
<!-- Left -->

</section>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 navbar navbar-dark bg-dark"style="color: white;">© 2022 Copyright:
    <a routerLink="/" style="color: white;"> Kkstore.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
